[data-wings='true']::before {
    @apply w-[3.5rem] sm:w-[4rem] lg:w-[5.5rem];
}
[data-wings='true']::after {
    @apply w-[3.5rem] sm:w-[4rem] lg:w-[5.5rem];
}
[data-wings='true'] {
    &::before,
    &::after {
        @apply bg-contain bg-top bg-no-repeat;
        margin-top: 0.4rem;
        content: '';
        display: block;
    }

    &::before {
        background-image: url('/icons/wings.webp');
        margin-right: 0.333rem;
    }
    &::after {
        background-image: url('/icons/wings.webp');
        transform: scaleX(-1);
        margin-left: 0.333rem;
    }
}
